@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .content .statistic-card {
        padding: 49px 0 35px 20px;
    }
}

@media screen and (max-width: 1199px) {
    .content .col-lg-4+.col-lg-4 .statistic-card {
        margin-top: 50px;
    }

    .main-statistics .statistics-block__dates-list {
        display: none;
    }

    .main-statistics .statistics-block__select {
        display: block;
        margin-right: 10px;
    }
}

@media screen and (max-width: 991px) {
    .row.flex-row {
        display: block;
    }

    .sidebar {
        box-shadow: 8px 3px 7px rgba(49,49,49,.08);
    }

    .header,
    .content {
        margin-left: 130px;
        width: calc(100% - 130px);
        box-shadow: 8px 3px 7px rgba(49,49,49,.08);
    }

    .closed-menu .header {
        margin-left: 0;
    }

    .header {
        left: 0;
        justify-content: flex-end;
    }

    .user-logo {
        margin: 0;
    }

    .mobile-hidden {
        display: none;
        position: absolute;
        right: 0;
        background-color: #ffffff;
        border: 1px solid #ececec;
        border-radius: 5px;
        top: calc(100% + 5px);
        flex-direction: column;
        align-items: flex-end;
        min-width: 200px;
    }

    .mobile-hidden > * {
        margin: 0;
        width: 100%;
        padding: 10px 30px;
    }

    .mobile-hidden a {
        display: flex !important;
        align-items: center;
    }

    .user-notifications .notifications-count {
        left: 10px;
    }

    .mobile-hidden:before {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        bottom: 100%;
        left: 0;
    }

    .user-creds:hover .mobile-hidden {
        display: flex;
    }

    .mobile-visible {
        display: inline;
    }
}

@supports (-moz-appearance:none) {
    @media screen and (max-width: 1024px) {
        .nano > .nano-pane > .nano-slider {
            background-color: transparent;
        }
    }
}

@media screen and (max-width: 974px) {
    .content .content__main {
        padding: 20px;
    }

    .content .breadcrumbs+.content__main {
        padding: 20px;
    }

    .content .row+.row,
    .row.flex-row .double-block .dashboard-block+.dashboard-block,
    .content .col-lg-4+.col-lg-4 .statistic-card {
        margin-top: 10px;
    }

    .row.flex-row>* {
        margin-bottom: 10px;
    }

    .dashboard-block .table-total {
        padding: 0 10px;
        margin: 0 -10px;
    }

    .dashboard-block {
        padding: 10px;
    }

    .filter-block {
        margin: 0 -10px;
        padding: 40px 10px;
    }

    .dashboard-block__table {
        margin: 0 -10px;
    }

    .breadcrumbs {
        padding: 0 20px;
    }

    .nano>.nano-pane {
        right: -4px;
    }

    .statistics-block__progress-item {
        margin-top: 15px;
    }

    .dashboard-block.banner-block {
        padding-bottom: 0;
    }

    .banner-block .statistics-block__head-right {
        position: static;
        min-height: 290px;
        width: calc(100% + 20px);
        margin-left: -10px;
        border-radius: 0 0 8px 8px;
        margin-top: 20px;
    }

    .row.flex-row .banner-block .statistics-block__head {
        margin-bottom: 0;
        padding: 0;
        width: 100%;
    }

    .required-block-wrapper .statistics-block__head {
        margin: 0 -10px;
        padding: 0 10px 24px;
    }
}

@media screen and (max-width: 768px) {
    .statistics-block__circle-progress, .statistics-block__head {
        margin-bottom: 30px;
    }

    .statistics-block__progress-item {
        margin-top: 15px;
    }

    .statistics-block__circle-info {
        margin-top: 0;
    }

    .statistics-block__circle-progress {
        position: relative;
    }

    .statistics-block__progress-item .statistics-block__circle {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 10px;
        display: none;
        opacity: 0;
        transition: opacity .3s ease;
    }

    .statistics-block__progress-item:hover .statistics-block__circle {
        opacity: 1;
        display: block;
        transition: opacity .3s ease;
    }

    .filter-block {
        flex-direction: column;
    }

    .filter-block > * {
        width: 100%;
    }

    .filter-block__form {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .popup .filter-block__form {
        justify-content: space-between;
        flex-direction: row;
    }

    .filter-block__form-group {
        width: 100%;
        max-width: initial;
    }

    .filter-block__form-group + .filter-block__form-group {
        margin-top: 30px;
    }

    .fields-second-page .filter-block__form-group,
    .fields-fourth-page .filter-block__form-group {
        width: 100%;
    }

    .filter-block__buttons {
        margin-top: 15px;
        justify-content: space-between;
    }

    .filter-block__buttons .btn {
        margin-left: 0;
        width: 47%;
    }

    .filter-block__form-group {
        margin-right: 0;
    }
}

@media screen and (max-width: 650px) {
    .pagination .dots,
    .pagination .page:not(.active) {
        display: none;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 230px;
    }

    .sidebar-content .secondary-menu {
        min-width: 180px;
        width: 180px;
    }

    .active.secondary-menu__submenu {
        padding: 0 0 0 25px;
    }

    .header,
    .sidebar-header {
        height: 60px;
    }

    .header {
        padding: 0 10px;
    }

    .menu-toggler {
        left: calc(100% + 8px);
    }

    .user-creds{
        margin-right: 0;
    }

    .sidebar-header {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .closed-menu .sidebar {
        width: 50px;
    }

    .header,
    .closed-menu .header {
        left: 50px;
        width: calc(100% - 50px);
        margin-left: 0;
    }

    .sidebar-content .main-menu .icon {
        font-size: 25px;
    }

    .content,
    .closed-menu .content {
        margin-left: 50px;
        margin-top: 60px;
        width: calc(100% - 50px);
    }

    .content .content__main {
        margin-top: 60px;
    }

    .content .breadcrumbs+.content__main {
        margin-top: 0;
    }

    .sidebar-content .nano:first-child,
    .sidebar-content .main-menu {
        min-width: 50px;
        width: 50px;
    }
    .sidebar-content .main-menu li a {
        height: 50px;
    }

    .sidebar-content .main-menu li span:last-child {
        display: none;
    }

    .content .statistic-card .icon {
        font-size: 100px;
    }
}

@media screen and (max-width: 480px) {
    .content .statistic-card {
        padding: 10px;
        height: 145px;
    }

    :not(.main-wrapper) .statistics-block__head {
        display: flex;
        flex-direction: column;
    }

    .content .statistic-card .statistic-card__title {
        font-size: 14px;
    }

    .content .statistic-card .statistic-card__amount,
    .content .statistic-card .statistic-card__amount b {
        font-size: 28px;
    }

    .content .statistic-card .small-icon,
    .content .statistic-card .statistic-card__range {
        font-size: 14px;
    }

    .content .breadcrumbs+.content__main,
    .content .content__main {
        padding: 10px 15px;
    }

    .main-wrapper .main-statistics .statistics-block__select,
    .main-wrapper .main-statistics .statistics-block__select-visible {
        color: transparent;
        min-width: 40px;
        min-height: 40px;
        padding: 0;
        display: inline-block;
    }

    .main-statistics .statistics-block__select-visible:before {
        right: 18px;
    }

    .main-statistics .statistics-block__select-visible:after {
        right: 14px;
    }

    .dashboard-block__list li {
        height: auto;
    }

    .list-img {
        margin-right: 5px;
    }

    .chart-block .chartjs-render-monitor {
        height: 150px !important;
        min-height: 150px;
    }

    .checkbox-item {
        width: 100%;
    }

    .bottom-button-block {
        flex-direction: column;
    }

    .bottom-button-block span + span {
        margin-top: 10px;
    }

    .loadFile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .loadFile .load-file-text {
        margin-top: 15px;
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {
    .filter-block__buttons {
        flex-direction: column;
        align-items: center;
    }

    .filter-block__buttons .btn {
        width: 87%;
    }

    .filter-block__buttons .btn + .btn {
        margin-top: 10px;
    }
}